/* Com */


    /* Committee Introduction */
.comintro{
    padding-top:60px;
}
.comintroh1{
    text-transform: uppercase;
    text-align: center;
    padding-top:70px;
    padding-bottom: 45px;
}

    /* Committee Selection */
.comselect{
    padding:50px 0px;
}
.select-h1{
    text-transform: uppercase;
    text-align: center;
    padding-top:25px;
    padding-bottom:25px !important;
}
.comselectbloc1{
    text-transform: uppercase;
    text-align: center;
}
.comselectbloc2{
    text-transform: uppercase;
    text-align: center;
}
.comselectbloc3{
    text-transform: uppercase;
    text-align: center;
}
.comselectbloc4{
    text-transform: uppercase;
    text-align: center;
}
.comselectC1{
    border:1px solid #deb887;
    border-radius: 5px;
    margin:10px 0px;
    background-color:#deb887;
    color:white;
    padding-bottom: 5px;
    transition: color 1s, background-color 1s;
}
.comselectC1:hover{
    color:#deb887;
    background-color:white;
    text-decoration: none;
}
.comselectC2{
    border:1px solid #acb4b9;
    border-radius: 5px;
    margin:10px 0px;
    background-color:#acb4b9;
    color:white;
    padding-bottom: 5px;
    transition: color 1s, background-color 1s;
}
.comselectC2:hover{
    color:#acb4b9;
    background-color:white;
    text-decoration: none;
}
.comselectC3{
    border:1px solid #ffdd1a;
    border-radius: 5px;
    margin:10px 0px;
    background-color:#ffdd1a;
    color:white;
    padding-bottom: 5px;
    transition: color 1s, background-color 1s;
}
.comselectC3:hover{
    color:#ffdd1a;
    background-color:white;
    text-decoration: none;
}
.comselectC4{
    border:1px solid #80e8ff;
    border-radius: 5px;
    margin:10px 0px;
    background-color:#80e8ff;
    color:white;
    padding-bottom: 5px;
    transition: color 1s, background-color 1s;
}
.comselectC4:hover{
    color:#80e8ff;
    background-color:white;
    text-decoration: none;
}

    /* ROP PPP*/
.ROPPPP{
    
}
.comROP{
    background-color:#2980b9;
    border-radius: 5px;
    color:white;
}
.comPPP{
    background-color:#2980b9;
    border-radius: 5px;
    color:white;
}

    /* Committee Contact */
.comcontact{
    text-align: center;
    padding:50px 0px;
}