/* Hero */
h1{
    font-size: 2.5em;
}

/* About Conference*/
.aboutConf{
    padding-top:70px;
    background-color:#2980b9;
    color:white;
    height:auto;
    padding-bottom: 60px;
    background-image: url(../img/Bluecity.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}
.ConfLinks{
    
}
.ConfLink1{
    background-image: url(../img/PacificMun2015/UnionofSoviet.jpg);
    width:100%;
}

.ConfLink2{
    
}
.ConfLink3{
    
}
.ConfLink4{
    
}
.Confh1{
    text-align: center;
    padding:50px 0px;
}




.Socialindentp{
    text-indent: 50px;
}
.Socialpa{
    text-indent: 50px;
    padding:75px 0px;
    border-top:2px solid #2980b9;
    border-bottom:2px solid #2980b9;
}
.Socialpb{
    text-indent: 50px;
    padding:75px 0px;
    border-top:2px solid #2980b9;
    border-bottom:2px solid #2980b9;
}



.Socialp1{
    text-indent: 50px;
    padding-top:75px;
    padding-bottom:75px;
    border-right:2px solid #2980b9;
}
.Socialindentp1{
    text-indent: 50px;
    padding-bottom: 50px;
}


    /* Sect */
.SectA{
    text-align: center;
    background-color:#2980b9;
    color:white;
    margin:5px 0px;
    border-radius: 5px;
    padding:5px 0px;
}
.SectA:hover{
    color:white;
}
    /*Social*/
.Confindent{
    border-left:2px solid #2980b9;
}
.socialrow{
    margin:50px 0px;
}



.Confh4{
    color:#2980b9;
}
.ConfVenue{
    padding:15vh 0px;
}
.ScheDiv{
    line-height: 1;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
  }
.parallaxConfVenue{
    background-image: url(../img/Pinnacle/location_slider4.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height:50vh;
}
.parallaxConfVenue1{
    background-image: url(../img/Pinnacle/location_slider2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height:50vh;
}
.parallaxConfVenue2{
    background-image: url(../img/Pinnacle/p2b_top.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height:50vh;
}