
.bg-1 {
  color: #ffffff;
}
.hero{
    height:100vh;
    text-align: center;
    padding-top:30vh;
}
.logohero{
    font-size:5em;
}
.herop{
    font-size:2vmax;
    margin:0;
    margin-bottom: 15px;
}
.heroh3{
    font-size:5vw;
    margin:0;
}
.heroa{
    padding:10px 55px;
    margin-top:15px;
    border: 1px solid white;
    color:white !important;
    transition: background-color 1s, color 1s;
    font-size:18px;
}
.heroa:hover{
    color:#2980b9 !important;

    text-decoration:none;
}


.letter{
    color:black;
    padding-bottom: 50px;
    padding-top: 50px;
    line-height:1;
        background-color:white;
    z-index:5;
}
.letterh3{
    font-family: "Open";
    font-size: 2em;
    padding-bottom:30px;
    border-bottom: 2px solid #2980b9;
}
.letterp{
    color:black;
    font-family:"Open";
    line-height:1.5;
    font-size:14px;
    text-align: left;
    background-color:white;
}
.letterpad{
    margin-top:30px;
}
.letterpmid{
    font-family: "Open";
    padding-top:30px;
}
.letterp1{
    font-size: 20px !important;
}
.letterp2{
    font-size: 20px !important;
    color:#2980b9;
}
.signpic{
    width:300px;
}

 

.overlay{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    background-color:rgba(41,128,185,0.3);
}
video{
    position:absolute;
    top:46vh;
    left:50%;
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto;
    z-index:-100;
    transform: translate(-50%, -50%);
    background-size: cover;
}