.bg-1 {
  color: #ffffff;
}
.hero{
    height:100vh;
    text-align: center;
    padding-top:15vh;
    
}
.logohero{
    font-size:5em;
}
.herop{
    font-size:2vmax;
    
    margin:0;
}
.herop1{
    font-size:2vmax;
    margin:0;
    margin-bottom: 25px;
    margin-top: 25px;
}
.heroh3{
    margin-top:-50px;
    font-size:7vw;
    margin:0;
}
.heroa{
    padding-top:10px;
    padding-bottom:15px;
    padding-right:55px;
    padding-left:55px;
    border: 1px solid white;
    color:white !important;
    transition: background-color 1s, color 1s;
    font-size:20px;
}
.heroa:hover{
    color:#2980b9 !important;
    background-color:white;
    text-decoration:none;
    font-size:20px;
}


.Herologo{
    width:200px;
    z-index: 1000;
}
 

.overlay{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    background-color:rgba(41,128,185,0.5);
}

@media screen and (max-width: 700px){
    .heroh3{
        font-size:35px;
    }
    .herop{
        font-size:15px;
    }
    .herop1{
        font-size:15px;
    }
    .heroa{
        font-size:10px;
    }
    .heroa:hover{
        font-size:10px;
    }
    .hero{
        background-image: url(../img/waterfront.jpg);
        background-size: cover;
    }
    video{
        visibility: hidden;
    }
}
video{
    position:absolute;
    top:46vh;
    left:50%;
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto;
    z-index:-100;
    transform: translate(-50%, -50%);
    background-size: cover;
}