/* Registration */
.Registration{
    padding-top:60px;
}
.countdown{
    text-align: center; 
}
.herocountdownborder{
    border-left:2px solid #2980b9;
}


.RegBox{
    margin:100px 0px;
    text-align: right;
}
.RegBox1{
    margin:100px 0px;
    text-align: left;
}
.RegNormal{
    text-align: center;
    padding:25px 15px;
    color:white;
    width:100%;
    background-color:#2980b9;
    text-transform: uppercase;
}
.RegNormal:hover{
    color:white;
}
.RegSchool{
    text-align: center;
    padding:25px 15px;
    color:white;
    width:100%;
    background-color:#2980b9;
    text-transform: uppercase;
}
.RegSchool:hover{
    color:white;
}



.RegPolicyBlue{
    color:#2980b9;
}



.RegBigh1{
    text-align: center;
    text-transform: uppercase;
    padding:50px 0px;
}
.RegPolicyP1{
    text-transform: uppercase;
    font-style: italic;
    font-size:1.3em;
}