/* Registration */
.Registration{
    padding-top:60px;
    padding-bottom:60px;
    background-color:#2980b9;
    color:white;
}
.countdown{
    text-align: center; 
}
.herocountdownborder{
    border-left:2px solid white;
}
/* Registration Price */
.regpriceh31{
    color:#2980b9;
}
.regpriceh11{
    color:#2980b9;
}
.RegNormal{
    text-align: center;
    padding:25px 15px;
    color:white;
    width:100%;
    border:1px solid #2980b9;
    background-color:#2980b9;
    text-transform: uppercase;
    transition: background-color 1s, color 1s;
}
.RegNormal:hover{
    color:#2980b9;
    background-color:white;
    text-decoration: underline;
}
.RegSchool{
    text-align: center;
    padding:25px 15px;
    color:white;
    width:100%;
    border:1px solid #2980b9;
    background-color:#2980b9;
    text-transform: uppercase;
    transition: background-color 1s, color 1s;
}
.RegSchool:hover{
    color:#2980b9;
    background-color:white;
    text-decoration: underline;
}
.RegisterLinks{
    margin-top:0px;
}
.hero-Register{
    height:auto;
    padding:10px 0px;
}

.registrationButton{
    margin-top:100px;
}

.RegPolicyBlue{
    color:#2980b9;
}

.RegBigh1{
    text-align: center;
    text-transform: uppercase;
    padding:50px 0px;
}
.RegPolicyP1{
    text-transform: uppercase;
    font-style: italic;
    font-size:1.3em;
}