.SectWrapper{
    padding-top:60px;
}
.Secth1{
    padding:75px 0px;
    text-align: center;
    text-transform: uppercase;
    color:#2980b9;
}
.SectText{
    padding-bottom: 25px;
}
.SectTexth3{
    color:#2980b9;
}
.SectTextp{
    text-transform: uppercase;
    font-style: italic;
}
.SectTexti1{
    color:#2980b9;
    margin:0px 10px;
    padding:5px 9px;
   
    transition: color 1s, background-color 1s, border-color 1s;
}
.SectTexti1:hover{
    color:white;
    background-color:#2980b9;
    border-color:#2980b9;
    
}

.SectTexti2{
    color:#2980b9;
    margin:0px 10px;
    padding:5px 7px;
    
    transition: color 1s, background-color 1s, border-color 1s;
}
.SectTexti2:hover{
    color:white;
    background-color:#2980b9;
    border-color:#2980b9;
}

.SectTexti3{
    color:#2980b9;
    margin:0px 10px;
    padding:5px;
    
    transition: color 1s, background-color 1s, border-color 1s;
}
.SectTexti3:hover{
    color:white;
    background-color:#2980b9;
    border-color:#2980b9;
}
