.SectWrapper{
    padding-top:60px;
}
.Secth1{
    padding:75px 0px;
    text-align: center;
    text-transform: uppercase;
    color:#2980b9;
}
.SectText{
    padding-bottom: 25px;
}
.SectTexth3{
    color:#2980b9;
}
.SectTextp{
    text-transform: uppercase;
    font-style: italic;
}
