                        /* Sponsor */
.h1botborder{
    padding-bottom: 25px;
    border-bottom: 2px solid #2980b9;
}

                        /*********************/
                        /* About Sponsorship */
                        /*********************/
.About-Sponsorship{
    margin-top: 70px;
    height:50vh;
    background-image: url(../img/Sponsor/Downtown_Vancouver_Sunset.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
                        /* Carousel Styles */
#carousel-example-generic{
    height:50vh;
}
.carousel-indicators .active {
    background-color: #2980b9;
}
.carousel-indicators li{
    background-color:white;
    border: none !important;
}
.header-text{
    padding-top:150px;
    padding-bottom:150px !important;
}
                        /* Carousel Header Styles */
.Carousel-imgLogo{
    width:500px;
}
.Carousel-h1{
    color:white;
}
.Carousel-p{
    color:white;
}
.Carousel-Link{
    background-color:#2980b9;
    border:1px solid #2980b9;
    color:white;
}







 












                        /* Row of Sponsors */
.sponsor-line{
    
}
.sponsor-line-img{
    width:100%;
}
        /********************/
        /* Become A Sponsor */
        /********************/
.becomeSponsor{
    text-align: center;
}
.BenefitsCards{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 25px;
    padding-bottom: 25px;
}
    .panel {
        border-radius:0 !important;
        transition: box-shadow 0.5s;
    }
.Bronze-panel{
    border: 1px solid #deb887;
}
.Silver-panel{
    border: 1px solid #bdc3c7;
}
.Gold-panel{
    border:1px solid #FFD700;
}
.Diamond{
    border:1px solid #B9F2FF; 
}
    .panel:hover {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    }
.Bronze-body{
    background-color:rgba(222,184,135,0.1);
}
.Silver-body{
    background-color:rgba(189,195,199,0.1);
}
.Gold-body{    
    background-color:rgba(255,215,0,0.1);
}
.Diamond-body{
    background-color:rgba(185,242,255,0.1);
}
    .panel-footer .btn:hover {
        border: 1px solid #2980b9;
        background-color: #fff !important;
        color: #2980b9;
    }
    .panel-heading {
        color: #fff !important;
        padding: 25px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
.Bronze-heading{
    background-color: #deb887 !important;
}
.Silver-heading{
    background-color: #bdc3c7 !important;
}
.Gold-heading{
    background-color: #FFD700 !important;
}
.Diamond-heading{
    background-color: #B9F2FF !important;
}
/* Panel Footer */
.Bronze-footer {
    background-color: rgba(222,184,135,0.1) !important;
}
.Silver-footer {
    background-color: rgba(189,195,199,0.1) !important;
}
.Gold-footer {
    background-color: rgba(255,215,0,0.1) !important;
}
.Diamond-footer {
    background-color: rgba(185,242,255,0.1) !important;
}


/* Panel Footer Parts */
    .panel-footer h3 {
        font-size: 32px;
    }
    .panel-footer h4 {
        color: #aaa;
        font-size: 14px;
    }
    .panel-footer .btn {
        margin: 15px 0;
        background-color: #2980b9;
        color: #fff;
        transition: background-color 1s, color 1s;
    }
