/*
    Temporary Css across all Committees 
    

*/
.ComOverview{
    padding-top:60px;
    
}
.Comh1{
    text-align: center;
    padding:50px 0px;
    text-transform: uppercase;
}
.TopicA{
    text-align: center;
    background-color:#2980b9;
    color:white;
    margin:5px 0px;
    border-radius: 5px;
    padding:5px 0px;
}
.TopicA:hover{
    color:white;
}
.staffh3{
    text-align: center;
}
.staffp{
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
}
.classified{
    background-color:#2980b9;
}
.ComStaff{
    padding-bottom: 25px;
}
.Comh1Title{
    color: white;
    text-align: center;
    padding-top:20vh;
    text-transform: uppercase;
    font-size:5em;
}
.multipad{
    padding-bottom: 50px;
}








/* DISEC */
.ComADHOCHero{
    height:50vh;
    background-image: url(../../img/Committees/adhoc.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/* DISEC */
.ComDISECHero{
    height:50vh;
    background-image: url(../../img/Committees/Disec.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/* DISEC */
.ComG20Hero{
    height:50vh;
    background-image: url(../../img/Committees/g20.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/* DISEC */
.ComJCCHero{
    height:50vh;
    background-image: url(../../img/Committees/jcc.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/* DISEC */
.ComLEGALHero{
    height:50vh;
    background-image: url(../../img/Committees/legal.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
/* DISEC */
.ComLoNHero{
    height:50vh;
    background-image: url(../../img/Committees/lon.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/* DISEC */
.ComNATOHero{
    height:50vh;
    background-image: url(../../img/Committees/nato.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/* DISEC */
.ComOICHero{
    height:50vh;
    background-image: url(../../img/Committees/oic.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/* DISEC */
.ComSPECPOLHero{
    height:50vh;
    background-image: url(../../img/Committees/Decon1.JPG);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/* DISEC */
.ComUNCSTDHero{
    height:50vh;
    background-image: url(../../img/Committees/uncstd.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/* DISEC */
.ComUNHRCHero{
    height:50vh;
    background-image: url(../../img/Committees/unhrc.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/* DISEC */
.ComUNODCHero{
    height:50vh;
    background-image: url(../../img/Committees/unodc.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/* DISEC */
.ComUNSCHero{
    height:50vh;
    background-image: url(../../img/Committees/unsc.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/* DISEC */
.ComUSSENATEHero{
    height:50vh;
    background-image: url(../../img/Committees/ussenate.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/* SPACE */
.ComSPACEHero{
    height:50vh;
    background-image: url(../../img/Committees/Space.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}