*{
    margin:0;
    padding:0;
}
@-ms-viewport { width: device-width; }

body {
    font:20px Myriad, sans-serif;
    line-height:1.8;
    overflow-x:hidden;
}
p {
    font-size:20px;
}
.margin {
    margin-bottom:45px;
}
.footer{
    padding-top:13px;
    padding-bottom:0px;
    background-color:#2f2f2f;
    color:#fff;  
}
.footeri{
    font-size:16px;
}
.white{
    color:white;
}
.floatr{
    float:right;
}
.floatl{
    float:left;
    font-size:22px;
}
.turnblue{
    transition:color 1s;
}
.turnblue:hover{
    color:#2980b9;
}
@font-face{
    font-family:Myriad;
    src:url("fonts/Myriad.ttf");
}
@font-face{
    font-family:Nexa;
    src:url("fonts/Nexa.otf");
}
@font-face{
    font-family:Open;
    src:url("fonts/OpenSans-Regular.ttf");
}
@font-face{
    font-family:Alierons;
    src:url("fonts/Ailerons-Typeface.otf");
}
@font-face{
    font-family:Stellar-Regular;
    src:url("fonts/Stellar-Regular.otf")
}
@font-face{
    font-family:Stellar-Light;
    src:url("fonts/Stellar-Light.otf")
}
.copy{
    font-size:18px;
}
.h100per{
    height:100%;
}
.mediaF-facebook{   
}
.mediaF-Link{
    color:white;
}
.mediaF-Link:hover{
    color:white;
}
.fullwidth{
    width:100%;
}
span{
    color:#2980b9;
}
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-thumb{
    background-color:#2980b9;
}  
::-webkit-scrollbar-track {
    background-color:darkgrey;
}
.indent{
    text-indent: 50px; 
}

.facebook-link{
    color:#2980b9;
    margin:0px 10px;
    padding:5px 9px;
    transition: color 1s, background-color 1s, border-color 1s;
}
.facebook-link:hover{
    color:white;
    background-color:#2980b9;
    border-color:#2980b9;
}
.bio-link{
    color:#2980b9;
    margin:0px 10px;
    padding:5px 7px;
    transition: color 1s, background-color 1s, border-color 1s;
}
.bio-link:hover{
    color:white;
    background-color:#2980b9;
    border-color:#2980b9;
}
.insta-link{
    color:#2980b9;
    margin:0px 10px;
    padding:5px;
    transition: color 1s, background-color 1s, border-color 1s;
}
.insta-link:hover{
    color:white;
    background-color:#2980b9;
    border-color:#2980b9;
}
.nostylea{
    color:white;
    text-decoration: none
}
.nostylea:hover{
    color:#2980b9 !important;
    text-decoration: none
}





/* Fix for viewport being too wide below smallest breakpoint */
@media (max-width: 767px) {
    body > .container { overflow: hidden; } /* fix */
    body > .container > * { overflow: visible; } /* reset back to normal */
}